# Core
pandas
dotenv
matplotlib
plotly
seaborn

# LangChain + Ollama
langchain
langchain_ollama
langchain_community
langchain_core
ipykernel

# Milvus
pymilvus

# Output parsing
pydantic

# Frontend
streamlit

# MCP and Agents
fastmcp
langgraph
langchain_mcp_adapters